.image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.projectCarousel {
    height: 90vh;
}

@media (max-width: 720px) {

    .image {
        background-size: cover; 
    }

    .projectCarousel {
        height: 50vh;
    }
}